body {
    background-image:url("../img/willapa-wildlife-refuge-hiking.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    background-color:rgb(0,0,0,0.8);
    color: white;
    text-align: center;
}

h2 {
    background-color:rgb(180,180,180,0.8);
    color: white;
    text-align: center;
}

p {
    background-color:rgb(150,150,150,0.8);
    color: white;
    text-align: center;
}

#container {
    text_align:center;
}

.button {
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    display: inline-block;
}

.menubutton {
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    display: inline-block;
}

.button:hover {
    background-color: white;
    color: green;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

