{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "rules": {
    "quotes": [
      "error",
      "double"
    ],
    "semi": [
      2,
      "always"
    ]
  }
}