
.idea/workspace.xml
.idea/group21WildLifeRefuge.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/
*.cmd
node_modules/**
package-lock.json
src/.DS_Store
.vscode/
package-lock.json
build/
.DS_Store
