


.header h2 {
    font-size: 0.585em;
    //margin: 0.25em 0;
    white-space: nowrap;
    text-indent: 1em;
    letter-spacing: 1em;
    text-transform: uppercase;
    color: #d6483b;
}

.month {
    width: 100%;
    margin: 1em 0 0;
    text-align: center;
    white-space: nowrap;
}

.time__content {
    position: relative;
    display: inline-block;
    padding: 0 1em;
    vertical-align: top;
}

.time__content:nth-child(2) {
    border-right: 1px solid #d1b790;
    border-left: 1px solid #d1b790;
}

.time__label {
    font-size: 9px;
    position: relative;
    margin: 0 0 0.5em 0;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #d1b790;
}

.time__value {
    font-family: 'Playfair Display';
    font-weight: bold;
    font-size: 26px;
    color: #d1b790;
}

