body {
    background-image:url("../willapa-wildlife-refuge-hiking.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn1 {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn1 {
    background-color: rgb(0, 238, 255);
}
li a, .dropbtn2 {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn2 {
    background-color: rgb(199, 42, 42);
}

li a, .dropbtn3 {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn3 {
    background-color: rgb(48, 117, 46);
}

li a, .dropbtn4 {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn4 {
    background-color: rgb(156, 134, 255);
}

li.dropdown1 {
    display: inline-block;
}

.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content1 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content1 a:hover {background-color: #f1f1f1}

.dropdown1:hover .dropdown-content1 {
    display: block;
}

li.dropdown2 {
    display: inline-block;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content2 a:hover {background-color: #f1f1f1}

.dropdown2:hover .dropdown-content2 {
    display: block;
}

li.dropdown3 {
    display: inline-block;
}

.dropdown-content3 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content3 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content3 a:hover {background-color: #f1f1f1}

.dropdown3:hover .dropdown-content3 {
    display: block;
}

li.dropdown4 {
    display: inline-block;
}

.dropdown-content4 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content4 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content4 a:hover {background-color: #f1f1f1}

.dropdown4:hover .dropdown-content4 {
    display: block;
}
img
{
    display: block;
    margin-left: auto;
    margin-right: 100;   
}

.navigation {
    background-color: rgba(192,192,192,0.5);
    text-align: center;
}

#back {
    position: absolute;
    bottom: 8px;
    left: 16px;
    height: 50px;
    width: 50px;
    padding: 1%;
    z-index: +1;
}

#forward {
    position: absolute;
    bottom: 8px;
    right: 16px;
    height: 50px;
    width: 50px;
    padding: 1%;
    z-index: +1;
}

#reset {
    position: absolute;
    bottom: 8px;
    left: 120px;
    height: 50px;
    width: 50px;
    padding: 1%;
    z-index: +1;

}
#help {
    filter: invert(100%);
    position: absolute;
    top: 5px;
    right: 16px;
    height: 40px;
    width: 40px;
    z-index: +1;
}