header{
    background-color: #4CAF50;
    color: #FFFFFF;
    height: 40px;
    text-align: right;
    font-size: 1.5em;
    padding-top: 10px;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: block;

}

h2 {
    color: white;
    text-align: center;
}

p {
    color: white;
    text-align: center;
}

.container {
    text-align:center;
}
img{
    max-width: 100%;
    height: auto;
}
button {
    background-color: rgb(59, 179, 209);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.menubutton {
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: white;
    color: green;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.enterButton:hover {
    background-color: white;
    color: green;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.enterButton{
    background-color: #4CAF50;
    color: black;
    font-weight: bold;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.frame{
    position: fixed; z-index: -99; width: 100%; height: 100%;

    height: 100%;
    width: 100%;
    padding: 0;

    margin-top: 0;
    margin-bottom: 0;

    background-color: black;
}



